-// section footer
    footer.footer
      .footdiv1
        // <img src="img/Austin FX LOGO.png" alt="">
        span.footspan Austours
      .footdiv2
        ul
          li
            a(href='#') About us
          li
            a(href='') Contact
script(src='/js/mapbox.js')
script(src="https://js.stripe.com/v3/")
script(src='/js/bundle.js')