@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  min-height: 100vh;
  width: 95vw;
  margin: 20px auto;
  background: #f7f7f7;
}


/* header session */
.header{
  min-height: 50px;
  padding: 15px 30px;
  background: #101540;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.headerdiv1{
  padding-left: 10px;
}

.headerdiv1 a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.img1{
  width: 60px;
  margin-left: 90px;
}

.headerdiv3{
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerdiv3 a{
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.button{
  background: transparent;
  padding: 10px;
  border: none;
  text-decoration: none;
  color: white;
}

.but2{
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 10px 25px;
  transition: .5s all ease;
}

.but2:hover{
  border-color: white;
}

/* Slide out menu */

.hidden{
  display: none;
}

.bar{
  display: none;
  font-size: 30px;
  color: white;
}

.ul1{
  list-style-type: none;
}

.ul1 li{
  margin: 10px;
}

.ul1 li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}

.ul2{
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.ul2 li a{
  text-decoration: none;
  color: white;
  text-decoration: none;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

/* Login form session */

.login{
  min-height: 100px;
  padding: 80px 20px 150px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.form{
  padding: 60px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 50px 2px rgba(1, 1, 1, 0.1);
}

.input{
  padding: 15px;
  border-radius: 5px;
  width: 400px;
  background: #f2f2f2;
  border: none;
  outline: none;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.p1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 23px;
  padding-bottom: 45px;
  background-image: linear-gradient(to right, #388fd3 , #ff3d6b);
  -webkit-background-clip: text;
  color: transparent;
}

.span1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.span2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-bottom: 10px;
}

.but3{
  text-decoration: none;
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background:#101540;
  color: white;
  transition: all .5s ease;
}

.but3:hover{
  padding-right: 50px;
  background-image: linear-gradient(to right, #388fd3 , #ff3d6b);
}

/* footer session */
.footer{
  position: fixed;
  bottom: 50px;
  right: 0;
  left: 0;
  height: 50px;
  padding: 60px 30px 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  z-index: 999;
}

.footdiv1{
  padding-left: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.footdiv2 ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.footdiv2 ul li{
  padding: 20px;
}

.footdiv2 ul li a{
  text-decoration: none;
  color: grey;
  transition: .5s all ease;
}

.footdiv2 ul li a:hover{
  background-image: linear-gradient(to right, rgb(56, 143, 211) , rgb(255, 61, 107));
  -webkit-background-clip: text;
}

.footdiv1 img{
  width: 50px;
}

.footspan{
  font-size: 30px;
  color: rgba(56, 143, 211, 0.3);
  font-weight: 500;
}

/* working on the overview page */
.overview{
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  min-height: 200px;
  width: 320px;
  box-shadow: 0 0 50px 2px rgba(1, 1, 1, 0.1);
  margin: 20px;
}

.cardimg{
  height: 200px;
  background-image: url(../img/tours/tour-1-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  
}

.card1{
  height: 200px;
  background: rgba(16, 21, 64, 0.5);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: inherit;
}

.divdiv{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card2{
  min-height: 100px;
  width: 260px;
  background: #fff;
  padding: 30px;
}

.card3{
  min-height: 30px;
  width: 260px;
  background: #f7f7f7;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p4{
  width: 200px;
  padding: 20px;
  font-size: 30px;
  font-weight: 300;
  color: white;
  margin: 70px 0 0 100px;
}

.p5{
  font-size: 12px;
}

.p6{
  font-size: 13px;
  padding-top: 20px;
  font-style: italic;
  font-weight: 300;
}

.ul{
  margin-top: 20px;
  font-size: 13px;
  list-style-type: none;
  font-style: italic;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.li{
  width: 40%;
  padding: 10px 0;
}

.card3a{
  width: 50%;
  font-size: 13px;
}

.ul3{
  list-style-type: none;
  font-style: italic;
  font-weight: 300;
}

.li2{
  padding-top: 10px;
}

.photo{
  width: 50px;
  border-radius: 50px;
}

.fa{
  width: 25px;
  background-image: linear-gradient(to right, #ff3d6b,  #388fd3 , #ff3d6b);
  -webkit-background-clip: text;
  color: transparent;
}

/* tour details page styling starts here */
.detail1{
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  margin-top: 80px;
}

.t1{
  height: 550px;
  background: rgba(16, 21, 64, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p7{
  width: 450px;
  font-size: 60px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.ul5{
  display: flex;
  align-items: center;
  list-style-type: none;
}

.ul5 li{
  font-size: 15px;
  margin: 10px;
  color: white;
}

/* detail2 starts here */
.detail2{
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t2{
  min-height: 200px;
  background: #f7f7f7;
  width: 45%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.t3{
  min-height: 200px;
  background: #fff;
  width: 45%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p8{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 23px;
  padding: 30px 0;
  background-image: linear-gradient(to right, #ff3d6b,  #388fd3 , #ff3d6b);
  -webkit-background-clip: text;
  color: transparent;
}

.ul6{
  list-style-type: none;
}

.ul6 li{
  margin: 20px 0;
  font-size: 15px;
}

.ul7{
  list-style-type: none;
}

.ul7 li{
  margin: 20px 0;
  font-size: 15px;
}

.p9{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding: 30px 0;
  width: 300px;
}

.photo2{
  width: 40px;
  border-radius: 50px;
  margin-right: 5px;
}


/* detail3 styling */

.detail3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel{
  background:#101540;
}

.carousel .card{
  min-height: 250px;
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(56, 143, 211,.7) , rgba(255, 61, 107,.7));
  transition: .5s all ease-in-out;
}

.carousel .card:hover{
  background-image: linear-gradient(to right, rgb(255, 61, 107), rgb(56, 143, 211) );
}

.box{
  min-height: inherit;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.owl-dots{
  text-align: center;
}

.owl-dot{
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none!important;
  border-radius: 50%;
  background-color: #fff!important;
  border: 2px solid #388fd3!important;
  margin-bottom: 10px;
}

.owl-dot.active{
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active, .owl-dot:hover{
  background-color: #388fd3!important;
}

/* temporal map styling */

#map {
  height: 500px;
   width: 100%;
}

/* reviews styling starts here */

.photo3{
  width: 50px; 
  border-radius: 50px;
  border:5px solid #388fd3;
}

.p10{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.span9{
  color: #f7f7f7;
  font-size: 20px;
  font-weight: 500;
}

.p11{
  width: inherit;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

/* section detail4 starts here */

.detail4{
  padding: 150px 50px 100px 50px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail4a{
  position: relative;
  min-height: 100px;
}

.detail4b{
  padding-left: 250px;
  margin-bottom: 100px;
}

.cta__img {
  height: 10rem;
  width: 10rem;
  position: absolute;
  border: 10px solid rgba(255, 61, 107, .5);
  left: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
  box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
}
.cta__img--logo {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  -webkit-transform: translate(-35%, -50%);
  transform: translate(-35%, -50%);
}
.cta__img--logo img {
  width: 100%;
}
.cta__img--1 {
  -webkit-transform: translate(-10%, -50%) scale(0.97);
  border: 10px solid rgba(56, 143, 211, .5);
  transform: translate(-10%, -50%) scale(0.97);
  z-index: 9;
}
.cta__img--2 {
  -webkit-transform: translate(15%, -50%) scale(0.94);
  transform: translate(15%, -50%) scale(0.94);
  z-index: 8;
}
.cta__content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto;
  grid-gap: 0.7rem;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.photo5{
  border-radius: 50%;
  width: 300px;
  height: 160px;
}

/* user styling starts here */

.user{
  margin-top: 80px;
  padding: 100px 50px;
  min-height: 100px;
  display: flex;
}

.user1{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 35%;
  display: flex;
  flex-direction: column;
  height: inherit;
  background: white;
  background:#101540;
  padding: 50px 0;
}

.user1 a{
  padding: 15px 50px;
  margin: 5px 0;
  text-decoration: none;
  color: white;
  transition: .2s all ease-in-out;
}

.user1 a:hover{
  border-left: 5px solid white;
}

.user2{
  width: 70%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: white;
  padding: 50px;
}

.user2a,.user2b{
  display: flex;
  justify-content: center;
}

.user2a{
  padding-bottom: 50px;
}

.user2b{
  border-top: 1px solid #101540;
  padding-top: 50px;
}

.userform{
  margin: 0 auto;
}

.p15{
  padding: 20px 0;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.but5{
  padding: 20px;
  border: none;
  margin-left: 20px;
  outline: none;
  background: none;
  border-bottom: 0.5px solid #101540;
  color: #101540;
  cursor: pointer;
  transition: .5s all ease-in-out;
}

.but5:hover{
  background: #101540;
  color: #fff;
}

.photo7{
  width: 80px; 
  border-radius: 80px;
}

.p30{
  min-height: 20px;
  display: flex;
  align-self: center;
  justify-content: right;
}

.userslide{
  display: flex;
  flex-direction: column;
}

.userslide a{
  padding: 15px 0;
  margin: 5px 0;
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: .2s all ease-in-out;
}




/* Media query begins here */

@media screen and (max-width: 1200px){
  .detail4{
    display: block;
  }

  .detail4b{
    padding-left: 0;
  }

  .user{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 100px 20px;
  }

  .user1{
    display: none;
  }

  .user2{
    width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 830px){
  .detail2{
    flex-wrap: wrap;
  }
  .t2, .t3{
    width: 100%;
    padding: 20px;
  }
  .p9{
    width: inherit;
  }

  .ul7{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 700px){
  .headerdiv1,.headerdiv3, .footdiv2{
    display: none;
  }

  .input{
    width: 300px;
  }

  .img1{
    margin: 0;
  }

  .footdiv1, .headerdiv1{
    padding-left: 0;
  }

  .bar{
    display: block;
  }

  .hidden{
        display: block;
        position: fixed; 
        padding: 30px;
        top: 0; 
        left: -100%;
        background-image: linear-gradient(to top, #101540 , #ff3d6b, #388fd3 , #101540  );
        width: 40%;
        height: 100%;
        z-index: 999;
        transition: 2s all ease;
        border-radius: 0 10px 0 0;
    }

    .responsive{
      background: #101540;
    }

    .ul1{
        margin: 20px 0;
    }
    
    .ul2{
        font-size: 18px;
        color: white;
    }

    .activee{
        left: 0;
    }

    .ul7{
      display: block;
    }
}

@media screen and (max-width: 600px){

  .login{
    padding: 80px 20px 150px 20px;
  }

  .form{
    padding: 30px;
  }
  
  .input{
    width: 230px;
  }

  .p1{
    font-size: 20px;
  }

  .footdiv1, .headerdiv1{
    padding-left: 0;
  }

  .p7{
    font-size: 45px;
    width: 300px;
  }
}